---
apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: workinnorway-legacy
  namespace: personbruker
  labels:
    team: personbruker
spec:
  image: {{image}}
  port: 4090
  liveness:
    path: /internal/isAlive
    initialDelay: 5
  readiness:
    path: /internal/isReady
    initialDelay: 5
  ingresses:
  {{#each ingresses as |url|}}
     - {{url}}
  {{/each}}
  env:
    - name: NPM_CONFIG_CACHE
      value: /tmp/npm-cache
  replicas:
  {{#with replicas}}
    min: {{min}}
    max: {{max}}
  {{/with}}
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
