article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section{
  display:block;
}

html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
html,
body{
  height:100%;
  width: 100%;
  /*margin: 0 0 -30px 0; */
  margin: 0;
  padding: 0;
}

a,
p,
span,
li, li span {
  font-family:Modus,Helvetica,Arial,sans-serif;
  font-weight: normal;
  text-decoration:none;
  color:#675c53;
  margin:0;
  line-height: 24px;
  outline: none;
}
p {
  font-size: 17px;
}

h1 span, h1 a,
h2,
h2 span, h2 a,
h3,
h4,
h5,
h6,
strong,
label{
  margin-top:0;
  font-family:Modus,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.article p,
h1,
h2,
h3,
h4{
  margin:0;
  color:#675c53;
}

textarea{
  overflow:auto;
  vertical-align:top;
}

.visuallyhidden {
  border:0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#content{
  min-height: 100%;
  height: auto;
  margin: auto;
  margin: 0 auto -80px;
}

.group:after,
.container:after{
  content:"\0020";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}

.group {
  display:block;
}

.clear {
  clear:both;
}

* html .group{
  height:1%;
}

@font-face {
	font-family: 'Modus';
	font-weight: normal;
	font-style: normal;
	src: url('font/modus/modurg-regular.woff') format('woff');
}

@font-face {
	font-family: 'Modus';
	font-weight: 600;
	font-style: normal;
	src: url('font/modus/modusb-semibold.woff') format('woff');
}

@font-face {
	font-family: 'Modus';
	font-weight: bold;
	font-style: normal;
	src: url('font/modus/modub-bold.woff') format('woff');
}

/*----------------------------------------------------------------------

*

*Sidestruktur: Grid 940px 14px margin

*---------------------------------------------------------------------------*/

#background {
  z-index:-1;
  background:#000000 url('../bilder/nvv_back.jpg') no-repeat center center fixed;
  /*background-size: 100% 100%; */
  background-size: cover;
  overflow-x: hidden;
}
#ie-background {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='http://e32apvl024.oera-t.local:8080/site/21/_public/Nettveiviser/bilder/nvv_back.jpg',
sizingMethod='scale');

-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='http://e32apvl024.oera-t.local:8080/site/21/_public/Nettveiviser/bilder/nvv_back.jpg',
sizingMethod='scale')";
}

a img {
  border:none;
}

body > .container{
  height:auto;
  min-height:100%
}

.article-container{
  width:664px !important;
  float:left;
}
.tips-container{
  width:340px !important;
  float:right;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5{
  float:left;
}

.grid-1{
  width:145px;
}

.grid-2{
  width:323px;
}

.grid-3{
  width:463px;
}

.grid-4{
  width:658px;
  overflow:hidden
}

.grid-5{
  width:662px;
}

.grid-6, div.grid-6 {
  /*width:710px;*/
  width: 69%;
  float:left;
  margin:0 0 50px 0;
  overflow:hidden
}
.grid-7, div.grid-7 {
  width:940px;
  float:left;
  margin:0;
  overflow:hidden
}


/*---------------------------------------------------------------------------------------------
*

* Navigation

*----------------------------------------------------------------------------------------------*/

#header{
  padding-bottom:14px;
  min-height:20px
}

#push {
  height: 75px;
  display: block;
  margin: 0;
  padding: 0;
}

#footer{
  position: relative;
  background-color:#000000;
  height:75px;
  width: 100%;
  /*margin: 100px 0 0 0;*/
}
.image-container{
  position: relative;
  text-align: center;
}

#footer ul {
  padding: 25px 0 25px 0;
  margin-left: 27%;
}
#footer li {
  height:100%;
  margin:0 50px 0 0;
  display:inline-block;
}

#footer li a span{
  color:#ffffff;
}

.recruit-sidetabs {
  margin: 70px 0 0 0;
}

#tabs{
  width:100%;
  display:inline-block;
}

#tabs-1,
#tabs-2,
#tabs-3,
#tabs-4,
#tabs-5,
#tabs-6,
#tabs-7,
#tabs-8,
#tabs-9 {
  float:right;
  position:relative;
  width:690px;
}

.noHeight{
  margin-top:0;
}

.aside-tabs {
  position:relative;
  box-shadow:1px 1px 2px -1px rgba(0, 0, 0, 0.25);
  background:#ffffff;
  margin:0;
  width:31%;
  display:block;
  float:left;
}

.aside-list {
  margin:2px 0 0 0;
  padding: 0;          
}

.aside-list li{
  width: 100%;
  padding: 0;
}
.aside-list li a {
  text-decoration:none;
  display:block;
  border-bottom:2px solid rgba(105, 105, 105, 0.3);
  padding:14px 40px 14px 5px;
  color:#675c53;
  margin: 0 8px;
  font-weight: 600;
  font-size: 17px;
}

.first-li-a {
  padding:18px 5px 14px 5px !important;
}

.first-aside-li {
  margin-top: -2px !important;
  padding: 0 13px 0 31px !important;
}

.aside-list li:last-child a{
  background:none;
  margin-bottom:4px;
  border-bottom:0 solid rgba(105, 105, 105, 0);
}

.menu-arrow{
  position:relative;
  background:transparent url('../bilder/liten-pil.png') no-repeat 266px center !important;
}

/*NORMALIZE END*/

#about-site {
  float: right;
  margin-right: 30px;
  display: inline-block
}
#languages {
  float: right;
  display: inline-block;
}
#languages a {
  position: relative;
  margin-left: 20px;
}
.active-text { }
.active-text:after {
  position: absolute;
  top: 20px;
  border-top: 2px solid;
  clear: both;
  content: " ";
  display: block;
  margin: 0.1em auto 0;
  width: 100%;
  text-align: center;
  left: 0;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.top-menu {
  background:#ffffff;
  box-shadow:1px 1px 2px -1px rgba(0, 0, 0, 0.25);
  padding: 14px 14px 14px 14px;
  margin-bottom: 136px;
}
.top-menu ul.navbar > li, ul.navbar ol.submenu-two-box > li {
  width: 49%;
}
.top-menu ul.navbar ol.submenu-three-box > li, .top-menu ul.navbar ol.integrated-submenu > li {
  width: 33%;
}

.topmenu-one-level {
  margin-bottom: 19px;
}
.topmenu-two-level {
  margin-bottom: 132px;
}
.last-topbox {
  margin-left: 13px !important;
}

.recruit-boxmod {
  display: inline-block;
  height: 158px;
  padding: 16px;
  margin-bottom: 0;
}

.submenu-two-box, .submenu-three-box {
  margin: 100px 0 0 0;
  left: -14px;
  width: 100%;
  position: absolute;
}

.integrated-submenu {
  left: -14px;
  width: 100%;
  position: absolute;
  padding: 0 14px 14px 14px;
}

.navIcon {
  background-image:url('../bilder/etat/Navlogo.png');
  background-repeat:no-repeat;
  
  height: 72px;
  width: 88px;
}
.skattIcon {
  background-image:url('../bilder/etat/skatteetaten.png');
  background-repeat:no-repeat;
  
  height: 72px;
  width: 102px;
}
.udiIcon {
  background-image:url('../bilder/etat/UDI_logo.png');
  background-repeat:no-repeat;
  
  height: 72px;
  width: 75px;
}
.arbeidtilsIcon {
  background-image:url('../bilder/etat/arbeidstilsynet_logo.png');
  background-repeat:no-repeat;
  
  height: 72px;
  width: 145px;
}
.politiIcon {
  background-image:url('../bilder/etat/ident-politiet.png');
  background-repeat:no-repeat;
  
  height: 72px;
  width: 143px;
}

.no-topsubmenu {
  margin-bottom: 22px;
}

.profiles-container span {
  display:inline-block;
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
  margin-right: 40px;
  font-weight: bold;
  float: left;
}
.profiles-container {
  margin: 3px 0 0 4px;
  width: 100%;
}
.profiles-container li {
  margin: 0 50px 0 0;
}
.profiles-container li:last-child {
  margin: 0;
}
.profiles-container li a {
  display: block;
}


.arrow-link{
  background-image: url('../bilder/liten-pil.png');
  background-repeat: no-repeat;
  background-position: 7% 88%;
}

.frontmenu {
  margin-bottom:18px;
  height: 158px;
  padding: 16px;
}
.frontmenu > a {
  position: relative;
}

.to-know-topmenu {
  margin-bottom:20px;
}

.page-header{
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 14px;
}

.page-header img{
  float:left;
  display:inline;
  margin-top: 1px;
}

.page-header h1 {
  float:left;
  display:inline-block;
  margin: 0 0 0 11px;
  color:#FFFFFF !important;
  width:170px;
  font-size:17px;
}

.container {
  margin:0 auto;
  width:1010px;
  position:relative;
  height:100%;
}

.navbar{
  padding: 0;
  position: relative;
}

.ul-submenu > li {
  width: 488px;
}

.navbox {
  display: inline-block;
  position: relative;
  /*width: 325px; */
}

.menu-box {
  position:relative;
  display:inline-block;
  float:left;
  height: 68px;
  width: 100%;
  padding: 0 3px;
  background:none repeat scroll 0 0 #dfded7;
  text-align: center;
}
.menu-box h2, .menu-box span {
  text-align:center;
  margin-top: 8px;
  font-size: 20px;
}

.menu-box-center h2, .menu-box span {
  margin-top: 20px;
}

.about-header {
  margin-left: 10px !important;
}

.text-box .zone-header {
  color:#c30000 !important;
  font-weight: bold;
  font-size:24px;
  display:block;
}

.bold{
  font-weight:bold;
}

.recruit-title {
  background: url("../bilder/recruit.png") no-repeat scroll 50% 15% transparent !important;
  margin: 8px 7px 0 0 !important;
  padding-top: 58px !important;
}


.front-title {
    /*background: url("../bilder/user.png") no-repeat scroll 50% 28% transparent; */
    background-image: url("../bilder/user.png");
    background-position: 50% 28%;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    margin: 11px 7px 0 0;
    padding-top: 85px;
    width: 227px;
}

.no-recruit {
  background: url("../bilder/recruit.png") no-repeat scroll 50% 0 transparent !important;
  margin: 6px 7px 0 0 !important;
  padding-top: 45px !important;
}

.front-title img {
  margin: 0 0 16px 0;
}

.front-title h1{
  font-size:29px;
  text-align: center;
  font-family: Modus,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.underline-header{
  background:transparent url('../bilder/dotted-line-lrg.gif') repeat-x left bottom;
  padding-bottom:6px;
}
.underline{
  background:transparent url('../bilder/dotted-line-lrg.gif') repeat-x left bottom;
}

.text-box:hover {
  background-color: #C30000 !important;
}
.text-box:hover span {
  color: #FFFFFF !important;
}
.text-box:hover h2 {
  color: #FFFFFF !important;
}
.text-box:hover p {
  color: #FFFFFF !important;
}

.text-box {
  background-color:#e0ded8;
  position:relative;
  width:222px;
  height:100%;
  margin: 0 0 0 10px;
  padding:0 0 0 16px;
  float:left;
}
.text-box p {
  margin: 12px 12px 0 0;
  font-weight: bold;
}
.text-box h2 {
  margin: 48px 0 0 0;
  font-size: 18px;
}
.text-box span {
  font-weight: 600;
}

.news-textbox {
  padding-right: 70px;
}

.frontmenu .emphasized-box {
  background-color:#EEE9E9;
}

.recruit-arrowlink {
  /* position: absolute; */
  background:transparent url('../bilder/liten-pil.png') no-repeat right bottom !important;
  background-color:#FFFFFF !important;
  padding-bottom:2px;
  padding-right:39px;
  padding-left:10px;
  padding-left:27px;
}

.sub-text {
  bottom:10px;
  display:block;
  left:33px;
  position:absolute;
  font-size:14px;
}

.box {
  background: none repeat scroll 0 0 #DFDED7;
  height: 68px;
  text-align: center;
  width: 297px;
  z-index: 3;
}

.last-box{
  width:332px;
}


ul{
  margin:0;
}
ul li{
  float:left;
  list-style-type:none;
}

.hide-content{
  display:none;
}

.nav-link{
  display:inline-block;
  margin: 17px 0 4px 0;
  text-transform:uppercase;
}

.submenu-align {
  margin: 5px 0 0 8px;
}

.nav-link span{
  display:inline;
  float:left;
  margin-top: 4px;
}

.news-arrow {
  background-image: url("../bilder/liten-pil.png");
  background-repeat: no-repeat;
  background-position: 90% 80%;
  z-index: 10;
  position: absolute;
}
.news-article {
  display:block;
}
.news-article ul{
  list-style-type: disc;
  padding-bottom: 0.75em;
  padding-left: 1em;
}
.news-article li{
  color:#675c53 !important;
  list-style-type: disc;
  float: none;
}
.news-article p {
  font-size: 16px;
}
.newsbox {
  position: relative;
  overflow: hidden;
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
  float: right;
  height: 158px;
  padding: 16px;
  width: 444px;
}


.article{
  display:block;
  box-shadow:1px 1px 2px -1px rgba(0, 0, 0, 0.25);
  background:#FFFFFF;
  margin:0px 12px 19px 0px;
  padding:16px;
}
.article-container .article > p > span {
  color:#675c53 !important;
}

.article-tips {
  background:#dfded7;
  margin: 0 0 19px;
}

.to-know-article {
  margin: 0 0 20px 20px;
}

.article ul{
  list-style-type: disc;
  padding-bottom: 0.75em;
  padding-left: 1em;
}
.article li{
  color:#675c53 !important;
  list-style-type: disc;
  float: none;
}
.article a{
  text-decoration:none;
  color:#007FFF !important;
}
.article p {
  padding-bottom: 0.75em;
}

.article h2 {
  color:#675c53;
  display:block;
  margin:0 0 12px 0;
  font-size: 18px;
}

.heading-prefix{
  color:#c30000;
  margin-right:6px;
  font-weight: bold !important;
}

.ui-tabs-vertical{
  width:55em;
}
.ui-tabs-vertical .ui-tabs-nav{
  float:left; /*width: 12em;*/
}
.ui-tabs-vertical .ui-tabs-nav li{
  clear:left;
  width:100%;
}
.ui-tabs-vertical .ui-tabs-nav li a{
  display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
  padding-bottom:0;
}
.ui-tabs-vertical .ui-tabs-panel{
  float:right; /*width: 40em; */
}


#top-section{
  background-color:#333;
  color:#fff;
  margin-bottom: 15px;
  padding: 8px 0 15px 0;
}
#top-section a{
  color:#fff;
  text-decoration:none
}
#top-section h1{
  font-size:2.5em;
  color:#fff;
  margin:0
}

#top-section a{
  color:#fff;
  text-decoration:none;
}
#top-section .home{
  display:block;
  float:left;
  font-weight:bold;
}

#top-section span.small{
  font-size:0.8em;
}
#top-section span.large{
  font-size:1.2em;
}

.large-font{
  font-size:26px;
  font-weight:bold;
}
.mid-font{
  font-size:16px;
  font-weight:bold;
}
.small-font{
  font-size:15px;
  font-weight:600;
}

.highlighted {
  color:#c30000;
}

.selected {
  background:#c30000 !important;
}
.selected h2, .selected span {
  color:#FFFFFF !important;
}
.selected-menuitem {
  color:#FFFFFF ;
  display:block;
}
.selected > a {
  background:#c30000 !important;
  color:#FFFFFF !important;
}

.selected-text{
  margin-top:-2px;
}

.selected-text a{
  color:#FFFFFF !important;
}

.recruit-menubox h2, .recruit-menubox span {
  margin-top: 21px;
  display: block;
  font-weight: bold;
}

.selected-arrow{
  position:absolute;
  height:0;
  width:0;
}
.arrow-under{
  border-left:12px solid transparent;
  border-right:12px solid transparent;
  border-top:13px solid #C30000;
  left:227px;
  top: 68px;
  z-index:1;
}

.arrow-over{
  border-left:18px solid transparent;
  border-right:18px solid transparent;
  border-top:17px solid #FFFFFF;
  left:221px;
  top:81px;
}

.submenu-arrow-under{
  left:46%;
  top:68px;
}
.submenu-arrow-over{
  left:44.4%;
  top:81px;
}

.right-arrow-end {
  border-bottom: 36px solid transparent;
  border-left: 21px solid #DFDED7;
  border-top: 33px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  width: 0;
  z-index: 2;
}

.left-arrow-indent {
  position: absolute;
  top: 0;
}

.down-arrow {
  border-left: 22px solid transparent;
  border-top: 34px solid #DFDED7;
  left: -24px;
  top: 0;
  width: 3px;
  position: absolute;
}

.up-arrow {
  border-bottom: 36.4px solid #DFDED7;
  border-left: 22px solid transparent;
  left: -24px;
  top: 32px;
  width: 3px;
  position: absolute;
}

.selected-down-arrow {
  border-left: 22px solid transparent !important;
  border-top: 34px solid #C30000 !important;
}
.selected-up-arrow{
  border-bottom: 36.4px solid #C30000 !important;
  
}
.selected-right-arrow-end{
  border-left:21px solid #C30000 !important;
}

.top-menu .top-header {
  padding: 0 0 5px 0;
  display: inline-block;
  margin-left: 16px;
  position: relative;
  line-height: 28px;
  color: #C30000;
  font-family: Modus,Helvetica,Arial,sans-serif;
  font-size:28px;
}
.top-menu .top-header span {
  color: #675C53;
}
.top-menu .top-header a {
  color: #C30000;
}

.header-wrap {
  margin: 14px 4px 14px 0;
}

/* --- Drop down CSS for member areas --- */


.dropdown-1 {
	border: 2px solid #DFDED7;
	border-top: none;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
	padding: 0;
	position: absolute;
	right: 0;
	display: none;
	z-index: 3;
	top: 6px;
}
.dropdown-1 li:hover {
  background-color: #C30000;
}
.dropdown-1 li:hover a {
  background-color: #C30000;
  color: #FFFFFF;
}
.dropdown-1 li {
	display: block;
	list-style-type: none;
	/*
	margin-left: -10px;
	margin-right: -9px;
	*/
  padding: 8px 0 8px 0;
  width: 100%;
  background: #FFFFFF;
}
.dropdown-1 li a {
	text-decoration: none;
	background-color: #FFFFFF;
	/* border-bottom: 1px solid rgba(105, 105, 105, 0.4); */
	padding: 0 0 0 8px;
	font-size: 18px;
	margin: 0;
	display: block;
}

/* -------------------------------------- */

/* --- Drop down CSS for private or enterprise pages --- */


.person-background {
  background:transparent url('../bilder/liten_mann.png') no-repeat 2px 2px !important;
  display: inline-block;
  float: left;
  z-index: 3;
}
.recruit-background {
  background:transparent url('../bilder/recruit.png') no-repeat 2px 2px !important;
  display: inline-block;
  float: left;
  z-index: 3;
}

/* ------------------------------------- */

.dropdown-arrow {
	border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #C30000;
  display: inline-block;
  float: left;
  height: 0;
  margin: 14px 0 0 11px;
  position: absolute;
  width: 0;
}

.dropdown-arrow-recruit {
  margin: 34px 0 0 48px;
}

.noindex {
  display: none;
}