name: Build docker image
on:
  workflow_call:
    outputs:
      image:
        description: "Url to docker image"
        value: ${{ jobs.build-image.outputs.image }}

jobs:
  build-image:
    name: Build docker image
    runs-on: ubuntu-latest
    env:
      image: ghcr.io/${{ github.repository }}:${{ github.sha }}
    outputs:
      image: ${{ env.image }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build
      - name: Start test server
        run: |
          npm run start &
          sleep 5
      - name: Scan for broken internal links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: 'http://localhost:4090'
          concurrency: 100
          markdown: false
          skip: '^https?://(?!(localhost|www\.workinnorway\.no))'
          recurse: true
          verbosity: error
          urlRewriteSearch: 'https://www.workinnorway.no'
          urlRewriteReplace: 'http://localhost:4090'
      - name: Scan for broken external links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: 'http://localhost:4090'
          concurrency: 100
          markdown: false
          recurse: true
          verbosity: error
          urlRewriteSearch: 'https://www.workinnorway.no'
          urlRewriteReplace: 'http://localhost:4090'
        continue-on-error: true
      - name: Login to Docker registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ env.image }} .
          docker push ${{ env.image }}