name: Build and deploy
on:
  workflow_call:
    inputs:
      cluster:
        required: true
        type: string
      ingress:
        required: true
        type: string
    secrets:
      NAIS_DEPLOY_APIKEY:
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      image: ghcr.io/${{ github.repository }}:${{ inputs.cluster }}-${{ github.sha }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Scan for broken internal links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: ./static
          concurrency: 100
          markdown: false
          skip: '^https?://(?!(localhost|www\.workinnorway\.no))'
          recurse: true
          verbosity: error
      - name: Scan for broken external links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: ./static
          concurrency: 100
          markdown: false
          recurse: true
          verbosity: error
        continue-on-error: true
      - name: Build application
        run: npm run build
      - name: Login to Docker registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ env.image }} .
          docker push ${{ env.image }}
      - name: Deploy to nais
        uses: nais/deploy/actions/deploy@v1
        env:
          CLUSTER: ${{ inputs.cluster }}
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          VAR: image=${{ env.image }},ingress=${{ inputs.ingress }}
          RESOURCE: .nais/config.yml

