name: Deploy to dev
on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
  deploy:
    uses: ./.github/workflows/deploy-to-nais.yml
    needs: build
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: dev
      ingress: https://workinnorway.external.dev.nav.nais.io
    secrets:
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
