name: Deploy to dev
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      image: ghcr.io/${{ github.repository }}:dev-${{ github.sha }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Scan for broken internal links
        run: |
          echo "scanInternalResult=$(npm run scan-internal)" >> $GITHUB_ENV
      - name: Abort on broken links
        run: |
          echo "${{ env.scanInternalResult }}"
          if [[ "${{ env.scanInternalResult }}" == *"[404]"* ]]; then
            echo "It's there."
          fi
      - name: Scan for broken external links
        run: npm run scan-all
      - name: Build application
        run: npm run build
      - name: Login to Docker registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ env.image }} .
          docker push ${{ env.image }}
      - name: Deploy to nais
        uses: nais/deploy/actions/deploy@v1
        env:
          CLUSTER: dev-gcp
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          VAR: image=${{ env.image }}
          RESOURCE: .nais/config.dev.yaml
