name: Deploy to dev
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      image: ghcr.io/${{ github.repository }}:dev-${{ github.sha }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Scan for broken internal links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: ./static
          concurrency: 100
          markdown: false
          skip: '^https?://(?!(localhost|www\.workinnorway\.no))'
          recurse: true
      - name: Build application
        run: npm run build
      - name: Login to Docker registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ env.image }} .
          docker push ${{ env.image }}
      - name: Deploy to nais
        uses: nais/deploy/actions/deploy@v1
        env:
          CLUSTER: dev-gcp
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          VAR: image=${{ env.image }}
          RESOURCE: .nais/config.dev.yaml
