name: Build and deploy from master
on:
  push:
    branches:
      - 'master'

jobs:
  build:
    permissions:
      contents: "read"
      id-token: "write"
    uses: ./.github/workflows/build-image.yml
    secrets:
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
  deploy-dev:
    uses: ./.github/workflows/deploy-to-nais.yml
    needs: build
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: dev-gcp
    secrets:
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
  deploy-prod-gcp:
    uses: ./.github/workflows/deploy-to-nais.yml
    needs: build
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: prod-gcp
    secrets:
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
